@CHARSET "UTF-8";

/**************************************************************/
/* BASES													  */
/**************************************************************/
/* body */
body
{
	width: 1024px;
	margin: auto;
	background-color:#DCC089;
	font-size: 100%;
	font-family: "Arial", arial, sans-serif;
}

/* titre */
h1, h2
{
	text-align: center;
}

h1, h2, h3, h4, h5, h6
{
	font-family: "Times New Roman", Times, "Liberation Serif", FreeSerif, serif;
}

/* liens */
a
{
	display: inline-block;
	text-decoration: none;
	background-color: yellow;
	color: black;
	//border: black solid 1px;
	padding: 3px;
}

a:hover
{
	background-color: orange;
}

/* les differentes sections */
.section_logo, .section_header, .section_login, .section_principale
{
	float: left;
}

.section_logo, .section_header
{
	height: 150px;
}

.section_header, .section_principale
{
	width: 700px;
}

.section_logo, .section_login
{
	width: 200px;
}

footer, .section_principale_large
{
	width: 922px;
}

footer
{
	height: 100px;
}


/**************************************************************/
/* LOGO														  */
/**************************************************************/
.section_logo h1
{
	text-align: center;
	margin: 0px;
	padding: 0px;
	background-color: white;
}

.section_logo h1 a
{
	color: red;
	font-size: 0.8em;
	text-decoration: none;
}


/**************************************************************/
/* MENU CRITERE												  */
/**************************************************************/
/* position du formulaire */
.menu_critere form
{
	position: relative;
	top: 50px;
}

/* annulation de tout les style des ul et li */
.menu_critere ul, .menu_critere li
{
	list-style-type: none;
	list-style: none;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

/* taiile d'un lien */
.menu_critere a
{
	display: block;
	width: 57px;
}

.menu_critere ul ul a
{
	width: 100px;
}

/* taille de la police */
.menu_critere form > ul
{
	font-size: 0.66em;
}

.menu_critere form > ul li ul a
{
	display: inline-block;
}

/* alignement horizontal des cellules des categories */
.menu_critere form > ul > li
{
	float: left;
	position: relative;
}

.menu_critere form > ul > li ul
{
	position: absolute;
	display: none;
}


/**************************************************************/
/* LOGIN													  */
/**************************************************************/
.section_login h3
{
	text-align: center;
}













/**************************************************************/
/* TEST														  */
/**************************************************************/
.section_logo, .section_header, .section_login, .section_principale, .section_principale_large, footer, .random_recette, .lister_recette, .critere_recherche, .afficher_compte, .section_message
{
	border: black solid 1px;
	margin: 5px;
	padding: 5px;
}
