@CHARSET "UTF-8";

/**************************************************************/
/* TABLEAU													  */
/**************************************************************/
div.za_tableau
{
	display: table;
	margin: 0px;
	padding: 0px;
}

div.za_tableau > div
{
	display: table-row;
	margin: 0px;
	padding: 0px;
}

div.za_tableau > div > div
{
	display: table-cell;
	margin: 0px;
	padding: 0px;
}


/**************************************************************/
/* MENU														  */
/**************************************************************/
legend.za_legend_menu
{
	display: inline-block;
	border: 1px red solid;
	background-color: orange;
}


/**************************************************************/
/* SELECT													  */
/**************************************************************/
select.za_salect_list
{
	width: 700px;
	padding: 0px;
	margin: 0px;
	border: 1px solid black;
}

select.za_salect_list > option
{
	width: 700px;
	padding: 0px;
	margin: 0px;
}

select.za_salect_list > option > div.za_tableau > div > div
{
	height: 17px;
	text-align: left;
	border: 1px solid black;
}
